.Sidebar {
    background: #333;
    color: #eee;
    height: 100%;
    padding: 1em;
    width: 20%;
  }
  
  .Sidebar button {
    background: white;
  }
  
  .Sidebar .active {
    background: gold;
  }